#School Mass Shooting Sentiment Analysis
## Project Setup

In [1]:
#Import Packages
import snscrape.modules.twitter as sntwitter
import snscrape.modules
import pandas as pd
import numpy as np
import datetime
import json
import nltk
import re

## Uvalde

### Scrape

In [2]:
# Creating list to append tweet data
uvalde_all_tweets_list = []
uvalde_hash_tweets_list = []
uvalde_source_tweets_list = []

In [3]:
# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('(uvalde OR "robb elementary" OR #uvalde OR #robbelementary) AND (#rip OR robb OR elementary OR mass OR school OR shooting OR massacre OR shooter ) min_faves:10 filter:has_engagement until:2022-06-07 since:2022-05-24').get_items()): #declare search criteria
    if i > 1000:  # number of tweets you want to scrape
        break
    try:
        uvalde_all_tweets_list.append([tweet.id, tweet.date, tweet.sourceLabel, tweet.hashtags, tweet.content, tweet.lang,
                                tweet.user.username, tweet.retweetCount,tweet.quoteCount, tweet.likeCount, tweet.user.followersCount, tweet.mentionedUsers])   # declare the attributes to be returned
        uvalde_hash_tweets_list.append([tweet.id, tweet.hashtags, tweet.mentionedUsers, tweet.user.followersCount, tweet.user.username]) 
        uvalde_source_tweets_list.append([tweet.sourceLabel,tweet.retweetCount, tweet.quoteCount, tweet.likeCount])

    except:
        continue

In [4]:
#Twitter Field Directory
print(dir(tweet))

['__annotations__', '__class__', '__dataclass_fields__', '__dataclass_params__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'cashtags', 'content', 'conversationId', 'coordinates', 'date', 'hashtags', 'id', 'inReplyToTweetId', 'inReplyToUser', 'json', 'lang', 'likeCount', 'media', 'mentionedUsers', 'outlinks', 'outlinksss', 'place', 'quoteCount', 'quotedTweet', 'renderedContent', 'replyCount', 'retweetCount', 'retweetedTweet', 'source', 'sourceLabel', 'sourceUrl', 'tcooutlinks', 'tcooutlinksss', 'url', 'user', 'username']

In [4]:
# Creating a dataframe from the tweets list above
uvalde_all_tweets_df = pd.DataFrame(uvalde_all_tweets_list, columns=['Tweet Id','DT', 'sourceLabel', 'Hashtags', 'Text', 'lang','User','RTcount','quoteCount', 'likeCount','followersCount', 'Mentioned'])
                     
uvalde_hash_tweets_df = pd.DataFrame(uvalde_hash_tweets_list, columns=['Tweet Id','Hashtags','Mentioned', 'FollowerCount','User'])

uvalde_source_tweets_df = pd.DataFrame(uvalde_source_tweets_list, columns=['sourceLabel','RTcount','quoteCount','likeCount'])

#check number of tweets pulled
uvalde_all_tweets_df.count()

Tweet Id          1001
DT                1001
sourceLabel       1001
Hashtags           156
Text              1001
lang              1001
User              1001
RTcount           1001
quoteCount        1001
likeCount         1001
followersCount    1001
Mentioned          282
dtype: int64

In [6]:
#View all the fields
uvalde_all_tweets_df.head(10)

,Tweet Id,DT,sourceLabel,Hashtags,Text,lang,User,RTcount,quoteCount,likeCount,followersCount,Mentioned
0,1533961683898667009,2022-06-06 23:58:59+00:00,Twitter Media Studio,None,"EXCLUSIVE: Arnulfo Reyes, a wounded Robb Eleme...",en,ABC,191,30,368,17559191,"[https://twitter.com/arobach, https://twitter...."
1,1533961298504994817,2022-06-06 23:57:27+00:00,Twitter Media Studio,None,"EXCLUSIVE: Arnulfo Reyes, a wounded Robb Eleme...",en,GMA,20,5,46,3784837,"[https://twitter.com/arobach, https://twitter...."
2,1533961211196456960,2022-06-06 23:57:07+00:00,SocialFlow,None,Uvalde funeral attendant told to stay back aft...,en,thehill,16,1,19,4399034,None
3,1533960258523058176,2022-06-06 23:53:19+00:00,Twitter Web App,None,@GregAbbott_TX This is a ridiculous response t...,en,lwqpas,2,0,19,6978,[https://twitter.com/GregAbbott_TX]
4,1533958713660293120,2022-06-06 23:47:11+00:00,Wildmoka,"[Uvalde, TheReidOut]",".@JoyAnnReid with a #Uvalde update: ""The paren...",en,thereidout,37,1,88,600822,[https://twitter.com/JoyAnnReid]
5,1533957658583048192,2022-06-06 23:43:00+00:00,Twitter Web App,None,They say the police chief in Uvalde didn’t hav...,en,trailmover49,7,1,22,5162,None
6,1533957632599506945,2022-06-06 23:42:53+00:00,Twitter for iPad,None,Two people I hope I get to vote for someday fo...,en,BridgetMaryMc,9,1,175,15291,None
7,1533957431960686593,2022-06-06 23:42:05+00:00,Twitter for iPhone,None,"In a discussion of solutions to gun violence, ...",en,Klarevas,2,1,12,3834,[https://twitter.com/jschildkraut80]
8,1533957272476569605,2022-06-06 23:41:27+00:00,Twitter for Android,None,11 children killed in the Uvalde school shooti...,en,Maccabeus24,2,1,11,3574,None
9,1533956182511165441,2022-06-06 23:37:08+00:00,Twitter Web App,"[BaldEagle, GreatBlueHeron]",Headed over to the Riverlands Migratory Bird S...,en,Christy_SpaceHW,2,0,15,1922,None

In [7]:
#Remove all none types
uvalde_all_tweets_df.fillna(value='', inplace=True)
uvalde_hash_tweets_df.fillna(value='', inplace=True)
uvalde_source_tweets_df.fillna(value='', inplace=True)

### Tweets by Mention

In [8]:
#view
uvalde_hash_tweets_df

,Tweet Id,Hashtags,Mentioned,FollowerCount,User
0,1533961683898667009,,"[https://twitter.com/arobach, https://twitter....",17559191,ABC
1,1533961298504994817,,"[https://twitter.com/arobach, https://twitter....",3784837,GMA
2,1533961211196456960,,,4399034,thehill
3,1533960258523058176,,[https://twitter.com/GregAbbott_TX],6978,lwqpas
4,1533958713660293120,"[Uvalde, TheReidOut]",[https://twitter.com/JoyAnnReid],600822,thereidout
...,...,...,...,...,...
996,1533128319633444865,,,9756,SavvySuzyRises
997,1533126823084802048,"[Uvalde, Texas, shooting, Daniel, Defense]",,21583,InsiderChl
998,1533126283286441984,,,967,2022Manifest
999,1533124439428284416,,,12711,marcorandazza
1000,1533123941082058753,,,58496371,CNN

In [9]:
#Pull Mentioned users names into list since values are nested in object
uvalde_mentionlist = []
for line in uvalde_hash_tweets_df['Mentioned']:
    if line == None or line =='':
        continue
    else:
        for item in line:
            uvalde_mentionlist.append(item.username)

#Overwrite with cleaned column
uvalde_hash_tweets_df['Mentioned'] = uvalde_hash_tweets_df['Mentioned'].apply(lambda x: [d.username for d in x if d != ''])

uvalde_hash_tweets_df

,Tweet Id,Hashtags,Mentioned,FollowerCount,User
0,1533961683898667009,,"[arobach, GMA]",17559191,ABC
1,1533961298504994817,,"[arobach, GMA]",3784837,GMA
2,1533961211196456960,,[],4399034,thehill
3,1533960258523058176,,[GregAbbott_TX],6978,lwqpas
4,1533958713660293120,"[Uvalde, TheReidOut]",[JoyAnnReid],600822,thereidout
...,...,...,...,...,...
996,1533128319633444865,,[],9756,SavvySuzyRises
997,1533126823084802048,"[Uvalde, Texas, shooting, Daniel, Defense]",[],21583,InsiderChl
998,1533126283286441984,,[],967,2022Manifest
999,1533124439428284416,,[],12711,marcorandazza
1000,1533123941082058753,,[],58496371,CNN

In [10]:
#Run frequency distribution on pulled mentions
uvalde_mentionFD = nltk.FreqDist(uvalde_mentionlist)
uvalde_top_mention = uvalde_mentionFD.most_common(30)

#Place top 30 mentions in a dataframe
uvalde_top_mentiondf = pd.DataFrame(uvalde_top_mention).rename(columns={0:'Uvalde Mention',1:'Uvalde Freq'}).sort_values(by=['Uvalde Freq'],ascending=False).reset_index().drop(columns=['index'])
uvalde_top_mentiondf[:10]

    Uvalde Mention  Uvalde Freq
0    GregAbbott_TX           12
1              GOP            8
2           RepMTG            7
3            MSNBC            7
4     RollingStone            7
5      ExpressNews            5
6     davidhogg111            5
7  OccupyDemocrats            5
8         DonLew87            5
9          NBCNews            5

### Tweets by Hashtag

In [11]:
#Create new list of Hashtags since Hashtags are in a nested list
uvalde_oldhash = uvalde_hash_tweets_df['Hashtags']

uvalde_oldhash.dropna()

uvalde_newhash = []

for line in uvalde_oldhash:
    if line == None or line == '':
        continue
    else:
        if type(line) is list:
            for item in line:
                item = item.lower()
                uvalde_newhash.append(item)
        else:
            line = line.lower()
            uvalde_newhash.append(line)

# print(newhash[:30])

#uvalde_newhash

### Tweets by Source

In [12]:
#Group and count by sourceLabel
uvalde_sourceCountdf = uvalde_source_tweets_df.groupby(['sourceLabel']).count().sort_values(by=['likeCount'], ascending=False).rename(
                                                columns={'likeCount':'Source Count'}).rename_axis('Uvalde Source Labels')

#Drop unnecessary columns
uvalde_sourceCountdf = uvalde_sourceCountdf.drop(columns=['RTcount','quoteCount'])

#view
uvalde_sourceCountdf[:10]

                      Source Count
Uvalde Source Labels
Twitter for iPhone             319
Twitter Web App                315
Twitter for Android             93
SocialFlow                      71
Twitter for iPad                41
TweetDeck                       31
Sprout Social                   28
Twitter Media Studio            17
dlvr.it                         13
SocialNewsDesk                   9

In [13]:
#Group and sum by sourceLabel
uvalde_sourceSumdf = uvalde_source_tweets_df.groupby(['sourceLabel']).sum().sort_values(by=['likeCount'], ascending=False).rename(
                columns={'likeCount':'Total Likes','RTcount':'Total Retweets','quoteCount':'Total Quotes'}).rename_axis('Uvalde Source Labels')

#view
uvalde_sourceSumdf[:10]

                      Total Retweets  Total Quotes  Total Likes
Uvalde Source Labels
Twitter for iPhone             75472          3593       220230
TweetDeck                      18586          1260       189318
Twitter Web App                16039           924        67502
Twitter for Android            21053          2063        53314
Twitter for iPad               10837           730        22456
SocialFlow                      3212           424        13781
Twitter Media Studio            3126           309         7227
Sprout Social                   2188           292         4914
dlvr.it                          528            52         1671
Hootsuite Inc.                   541            69         1057

In [14]:
#Group and avg by sourceLabel
uvalde_sourceAvgdf = uvalde_source_tweets_df.groupby(['sourceLabel']).mean().sort_values(by=['likeCount'], ascending=False).rename(
                columns={'likeCount':'Avg Likes','RTcount':'Avg Retweets','quoteCount':'Avg Quotes'}).rename_axis('Uvalde Source Labels')

#view
uvalde_sourceAvgdf[:10]

                                Avg Retweets  Avg Quotes    Avg Likes
Uvalde Source Labels
TweetDeck                         599.548387   40.645161  6107.032258
Twitter for iPhone                236.589342   11.263323   690.376176
Twitter for Android               226.376344   22.182796   573.268817
Twitter for iPad                  264.317073   17.804878   547.707317
Twitter Media Studio              183.882353   18.176471   425.117647
Twitter Web App                    50.917460    2.933333   214.292063
SocialFlow                         45.239437    5.971831   194.098592
Circleboom Publish                 50.000000    1.000000   193.000000
Twitter Media Studio - LiveCut     59.000000    4.000000   177.000000
Sprout Social                      78.142857   10.428571   175.500000

## Parkland

### scrape

In [15]:
# Creating list to append tweet data
park_all_tweets_list = []
park_hash_tweets_list = []
park_source_tweets_list = []

In [16]:
# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('(parkland OR #parkland OR #parklandhighschool) AND (#rip OR "high school" OR mass OR school OR shooting OR massacre OR shooter) min_faves:10 filter:has_engagement since:2018-02-14 until:2018-02-28').get_items()): #declare search criteria
    if i > 1000:  # number of tweets you want to scrape
        break
    try:
        park_all_tweets_list.append([tweet.id, tweet.date, tweet.sourceLabel, tweet.hashtags, tweet.content, tweet.lang,
                                tweet.user.username, tweet.retweetCount,tweet.quoteCount, tweet.likeCount, tweet.user.followersCount, tweet.mentionedUsers])   # declare the attributes to be returned
        park_hash_tweets_list.append([tweet.id, tweet.hashtags, tweet.mentionedUsers, tweet.user.followersCount, tweet.user.username]) 
        park_source_tweets_list.append([tweet.sourceLabel,tweet.retweetCount, tweet.quoteCount, tweet.likeCount])
    except:
        continue

In [17]:
# Creating a dataframe from the tweets list above
park_all_tweets_df = pd.DataFrame(park_all_tweets_list, columns=['Tweet Id','DT', 'sourceLabel', 'Hashtags', 'Text', 'lang','User','RTcount','quoteCount', 'likeCount','followersCount', 'Mentioned'])
                     
park_hash_tweets_df = pd.DataFrame(park_hash_tweets_list, columns=['Tweet Id','Hashtags','Mentioned', 'FollowerCount','User'])
    
park_source_tweets_df = pd.DataFrame(park_source_tweets_list, columns=['sourceLabel','RTcount','quoteCount','likeCount'])

#check number of tweets pulled
park_all_tweets_df.count()

Tweet Id          1001
DT                1001
sourceLabel       1001
Hashtags           247
Text              1001
lang              1001
User              1001
RTcount           1001
quoteCount        1001
likeCount         1001
followersCount    1001
Mentioned          239
dtype: int64

In [18]:
#View DF1
park_all_tweets_df.head(10)

,Tweet Id,DT,sourceLabel,Hashtags,Text,lang,User,RTcount,quoteCount,likeCount,followersCount,Mentioned
0,968635072889937922,2018-02-27 23:52:52+00:00,Twitter for iPhone,None,Breaking: Rasmussen post Parkland poll: Most A...,en,ReaganBattalion,33,4,57,97725,None
1,968634883852701696,2018-02-27 23:52:07+00:00,Twitter for iPhone,"[parklandhighschool, parkland, ParklandSurvivors]",#parklandhighschool #parkland shooting Video #...,en,The2ndA,31,3,45,31160,None
2,968634749039280130,2018-02-27 23:51:35+00:00,Twitter for iPhone,[Parkland],Read my piece for @communitychange on how rhet...,en,tomaskenn,18,0,24,97220,[https://twitter.com/communitychange]
3,968633607865683969,2018-02-27 23:47:03+00:00,SocialOomph,None,"Trump, who cited bone spurs to avoid military ...",en,SafetyPinDaily,22,4,16,152608,None
4,968633362209558538,2018-02-27 23:46:04+00:00,SocialFlow,None,Opinion: The Parkland shooting victims are the...,en,washingtonpost,237,28,850,19272034,None
5,968633252151005184,2018-02-27 23:45:38+00:00,Twitter Web Client,None,STUDENT WALKOUT: With a nationwide student wal...,en,newschannelnine,7,2,14,122290,None
6,968633244211138565,2018-02-27 23:45:36+00:00,TweetDeck,None,NRATV host: Parkland shooting is just like Ben...,en,mmfa,25,8,34,458605,None
7,968633088518615041,2018-02-27 23:44:59+00:00,Twitter Web App,None,1./ Very interesting. I sent a message to Will...,en,RKJ65,22,2,29,31860,None
8,968633018184237056,2018-02-27 23:44:42+00:00,SnapStream TV Search,None,It has been nearly two weeks since a gunman ki...,en,CBSNews,25,3,21,8657376,[https://twitter.com/BojorquezCBS]
9,968631468330291206,2018-02-27 23:38:33+00:00,SocialFlow,None,"After days of praying, grieving and fighting f...",en,SI_Tennis,6,1,15,93350,None

In [19]:
#Remove none types
park_all_tweets_df.fillna(value='', inplace=True)
park_hash_tweets_df.fillna(value='', inplace=True)
park_source_tweets_df.fillna(value='', inplace=True)

### Tweets by Mention

In [20]:
#view
park_hash_tweets_df

,Tweet Id,Hashtags,Mentioned,FollowerCount,User
0,968635072889937922,,,97725,ReaganBattalion
1,968634883852701696,"[parklandhighschool, parkland, ParklandSurvivors]",,31160,The2ndA
2,968634749039280130,[Parkland],[https://twitter.com/communitychange],97220,tomaskenn
3,968633607865683969,,,152608,SafetyPinDaily
4,968633362209558538,,,19272034,washingtonpost
...,...,...,...,...,...
996,967932504106766337,,,305057,dcexaminer
997,967931181781090305,"[Parkland, LasVegas, Orlando, timesup]",[https://twitter.com/NRA],30763,TheBaxterBean
998,967929633223081985,,,30049,KokeTokyo
999,967928474794160130,[Parkland],,65555,Chatelaine
1000,967928103854100480,,,63603,greenhousenyt

In [21]:
#Pull Mentioned users names into list since values are nested in object
park_mentionlist = []
for line in park_hash_tweets_df['Mentioned']:
    if line == None or line =='':
        continue
    else:
        for item in line:
            park_mentionlist.append(item.username)

#Overwrite with cleaned column
park_hash_tweets_df['Mentioned'] = park_hash_tweets_df['Mentioned'].apply(lambda x: [d.username for d in x if d != ''])

park_hash_tweets_df

,Tweet Id,Hashtags,Mentioned,FollowerCount,User
0,968635072889937922,,[],97725,ReaganBattalion
1,968634883852701696,"[parklandhighschool, parkland, ParklandSurvivors]",[],31160,The2ndA
2,968634749039280130,[Parkland],[communitychange],97220,tomaskenn
3,968633607865683969,,[],152608,SafetyPinDaily
4,968633362209558538,,[],19272034,washingtonpost
...,...,...,...,...,...
996,967932504106766337,,[],305057,dcexaminer
997,967931181781090305,"[Parkland, LasVegas, Orlando, timesup]",[NRA],30763,TheBaxterBean
998,967929633223081985,,[],30049,KokeTokyo
999,967928474794160130,[Parkland],[],65555,Chatelaine
1000,967928103854100480,,[],63603,greenhousenyt

In [22]:
#Run frequency distribution on pulled mentions
park_mentionFD = nltk.FreqDist(park_mentionlist)
park_top_mention = park_mentionFD.most_common(30)

#Place top 30 mentions in a dataframe
park_top_mentiondf = pd.DataFrame(park_top_mention).rename(columns={0:'Park Mention',1:'Park Freq'}).sort_values(by=['Park Freq'],ascending=False).reset_index().drop(columns=['index'])
park_top_mentiondf[:10]

      Park Mention  Park Freq
0  realDonaldTrump         26
1              NRA         14
2     davidhogg111          8
3          DLoesch          7
4              CNN          6
5      HuffPostPol          6
6      emma4change          5
7      CNNPolitics          5
8       DwyaneWade          5
9     RepTedDeutch          4

### Tweets by Hashtag

In [23]:
#Create new list of Hashtags since Hashtags are in a nested list
park_oldhash = park_hash_tweets_df['Hashtags']

park_oldhash.dropna()

park_newhash = []

for line in park_oldhash:
    if line == None or line == '':
        continue
    else:
        if type(line) is list:
            for item in line:
                item = item.lower()
                park_newhash.append(item)
        else:
            line = line.lower()
            park_newhash.append(line)

# print(newhash[:30])

#park_newhash

### Tweets by Source

In [24]:
#Group and count by sourceLabel
park_sourceCountdf = park_source_tweets_df.groupby(['sourceLabel']).count().sort_values(by=['likeCount'], ascending=False).rename(
                                                columns={'likeCount':'Source Count'}).rename_axis('Park Source Labels')

#Drop unnecessary columns
park_sourceCountdf = park_sourceCountdf.drop(columns=['RTcount','quoteCount'])

#view
park_sourceCountdf[:10]

                      Source Count
Park Source Labels
Twitter Web Client             267
Twitter for iPhone             218
SocialFlow                     136
TweetDeck                      100
Twitter for Android             60
Hootsuite                       32
Twitter Media Studio            31
SocialOomph                     29
Twitter for iPad                17
Sprout Social                   12

In [25]:
#Group and sum by sourceLabel
park_sourceSumdf = park_source_tweets_df.groupby(['sourceLabel']).sum().sort_values(by=['likeCount'], ascending=False).rename(
                columns={'likeCount':'Total Likes','RTcount':'Total Retweets','quoteCount':'Total Quotes'}).rename_axis('Park Source Labels')

#view
park_sourceSumdf[:10]

                      Total Retweets  Total Quotes  Total Likes
Park Source Labels
Twitter for iPhone             48684          5472       119015
Twitter Web Client             29680          3686        87736
Khoros Publishing               9935           432        49362
SocialFlow                     14134          4970        48353
TweetDeck                       6572           637        23188
Twitter Media Studio            6180           794        17243
Twitter for Android             4510           423        11480
Wildmoka                        1896           225         6978
dlvr.it                          882           120         3547
Hootsuite                       1619           313         3466

In [26]:
#Group and sum by sourceLabel
park_sourceSumdf = park_source_tweets_df.groupby(['sourceLabel']).sum().sort_values(by=['likeCount'], ascending=False).rename(
                columns={'likeCount':'Total Likes','RTcount':'Total Retweets','quoteCount':'Total Quotes'}).rename_axis('Park Source Labels')

#view
park_sourceSumdf[:10]

                      Total Retweets  Total Quotes  Total Likes
Park Source Labels
Twitter for iPhone             48684          5472       119015
Twitter Web Client             29680          3686        87736
Khoros Publishing               9935           432        49362
SocialFlow                     14134          4970        48353
TweetDeck                       6572           637        23188
Twitter Media Studio            6180           794        17243
Twitter for Android             4510           423        11480
Wildmoka                        1896           225         6978
dlvr.it                          882           120         3547
Hootsuite                       1619           313         3466

In [27]:
#Group and avg by sourceLabel
park_sourceAvgdf = park_source_tweets_df.groupby(['sourceLabel']).mean().sort_values(by=['likeCount'], ascending=False).rename(
                columns={'likeCount':'Avg Likes','RTcount':'Avg Retweets','quoteCount':'Avg Quotes'}).rename_axis('Park Source Labels')

#view
park_sourceAvgdf[:10]

                      Avg Retweets  Avg Quotes     Avg Likes
Park Source Labels
Khoros Publishing      3311.666667  144.000000  16454.000000
Gain Platform           773.000000   39.000000   2768.000000
Wildmoka                632.000000   75.000000   2326.000000
Twitter Media Studio    199.354839   25.612903    556.225806
Twitter for iPhone      223.321101   25.100917    545.940367
SocialFlow              103.926471   36.544118    355.536765
Twitter Web Client      111.161049   13.805243    328.599251
dlvr.it                  73.500000   10.000000    295.583333
TweetDeck                65.720000    6.370000    231.880000
SnappyTV.com             62.333333   27.000000    207.666667

## Token/Sentiment Analysis

### Setup

In [28]:
nltk.download('stopwords')
nltk.download('punkt')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk import word_tokenize

#create variable for tokenizer
ttokenizer = nltk.tokenize.TweetTokenizer()

nltk_stopwords = nltk.corpus.stopwords.words('english')

#Add extra stopwords to list
otherstopwords = [':','.','!',';','?',',','*','^','_','(',")","'",'-','"','&','...','"',"'"]

nltk_stopwords.extend(otherstopwords)


sid = SentimentIntensityAnalyzer()
def get_sentiment(text:str, analyser,desired_type:str='pos'):
    # Get sentiment from text
    sentiment_score = analyser.polarity_scores(text)
    return sentiment_score[desired_type]

# Get Sentiment scores
def get_sentiment_scores(df,data_column):
    df[f'{data_column} Positive Sentiment Score'] = df[data_column].astype(str).apply(lambda x: get_sentiment(x,sid,'pos'))
    df[f'{data_column} Negative Sentiment Score'] = df[data_column].astype(str).apply(lambda x: get_sentiment(x,sid,'neg'))
    df[f'{data_column} Neutral Sentiment Score'] = df[data_column].astype(str).apply(lambda x: get_sentiment(x,sid,'neu'))
    df[f'{data_column} Compound Sentiment Score'] = df[data_column].astype(str).apply(lambda x: get_sentiment(x,sid,'compound'))
    return df

#view
nltk_stopwords[:10]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mcfad\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mcfad\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

### Uvalde
https://www.regexpal.com/

https://predictivehacks.com/how-to-run-sentiment-analysis-in-python-using-vader/

https://python.plainenglish.io/twitter-sentiment-analysis-using-vader-tweepy-b2a62fba151e

https://jackmckew.dev/sentiment-analysis-text-cleaning-in-python-with-vader.html

Why you shouldnt preprocess for VADER sentiment:
https://towardsdatascience.com/are-you-scared-vader-understanding-how-nlp-pre-processing-impacts-vader-scoring-4f4edadbc91d

#### Tweets by Sentiment

In [29]:
#Place text content into a list
uvalde_textlist = list(uvalde_all_tweets_df['Text'])

In [30]:
#Place text into dataframe to check transformation
uvalde_sid_text = pd.DataFrame(uvalde_textlist)

#Clean text by removing hyperlinks, mentions, and hashtags(just the symbol since these words provide additional value)
uvalde_sid_text['check'] = uvalde_sid_text[0].apply(lambda x : re.sub(r'http\S+', '', x))
uvalde_sid_text['check'] = uvalde_sid_text['check'].apply(lambda x : re.sub(r'@\S+', '', x))
uvalde_sid_text['check'] = uvalde_sid_text['check'].apply(lambda x : re.sub(r'#+', '', x))

#view
uvalde_sid_text

,0,check
0,"EXCLUSIVE: Arnulfo Reyes, a wounded Robb Eleme...","EXCLUSIVE: Arnulfo Reyes, a wounded Robb Eleme..."
1,"EXCLUSIVE: Arnulfo Reyes, a wounded Robb Eleme...","EXCLUSIVE: Arnulfo Reyes, a wounded Robb Eleme..."
2,Uvalde funeral attendant told to stay back aft...,Uvalde funeral attendant told to stay back aft...
3,@GregAbbott_TX This is a ridiculous response t...,This is a ridiculous response to a state trag...
4,".@JoyAnnReid with a #Uvalde update: ""The paren...",". with a Uvalde update: ""The parents of Robb E..."
...,...,...
996,Buffalo victims....who were forgotten quickly ...,Buffalo victims....who were forgotten quickly ...
997,"Father of a 10-year-old girl slain in #Uvalde,...","Father of a 10-year-old girl slain in Uvalde, ..."
998,"""It wouldn't have mattered what kind of gun he...","""It wouldn't have mattered what kind of gun he..."
999,The biggest threat to society is flunkies. Th...,The biggest threat to society is flunkies. Th...
1000,Ten days after a gunman slaughtered 19 student...,Ten days after a gunman slaughtered 19 student...

In [31]:
#Make dataframe to place sentiment scores
uvalde_Textdf = pd.DataFrame(uvalde_sid_text,columns=['check'])

#Use funciton to place each type of sentiment score into its own column
uvalde_Textdf = get_sentiment_scores(uvalde_Textdf,'check')

#Run some descriptive stats on scores
uvalde_statdf = pd.DataFrame(uvalde_Textdf.describe())
uvalde_statdf

,check Positive Sentiment Score,check Negative Sentiment Score,check Neutral Sentiment Score,check Compound Sentiment Score
count,1001.000000,1001.000000,1001.000000,1001.000000
mean,0.071760,0.124793,0.803445,-0.198032
std,0.076575,0.103615,0.114780,0.509297
min,0.000000,0.000000,0.453000,-0.978600
25%,0.000000,0.044000,0.727000,-0.658800
50%,0.059000,0.115000,0.803000,-0.273200
75%,0.118000,0.189000,0.882000,0.153100
max,0.403000,0.514000,1.000000,0.941600

#### Tweets by Tokenizaiton

In [32]:
#Create datafram of text again back from source
uvalde_tok_text = pd.DataFrame(uvalde_textlist)

#Clean data by removing hyperlinks and 
#hashtags(only remove # as we are interested in seeing all the popular words including hash values)
#leave @ to see how many times someone is mentioned 
uvalde_tok_text['check'] = uvalde_tok_text[0].apply(lambda x : re.sub(r'http\S+', '', x))
uvalde_tok_text['check'] = uvalde_tok_text['check'].apply(lambda x : re.sub(r'#+', '', x))


#Use special tokenizer to keep special words/phases together (ie. gun control rather than gun and control)
uvalde_sw_tokenizer = nltk.MWETokenizer([('gun','control'),('elementary','school')])


uvalde_tokcheck =[]

#Apply tokenizer to each line of text
for line in uvalde_tok_text['check']:
    line = ttokenizer.tokenize(line)
    line = uvalde_sw_tokenizer.tokenize((line))
    uvalde_tokcheck.extend(line)



uvalde_cleantok = []

#Remove stopwords
for line in uvalde_tokcheck:
    line = line.lower()
    if not line in nltk_stopwords:
        uvalde_cleantok.append(line)
    else:
        continue

#view 
#uvalde_cleantok

In [33]:
#Find frequency of words in text
uvalde_tokFD = nltk.FreqDist(uvalde_cleantok)
uvalde_top_toks = uvalde_tokFD.most_common()
# for word, freq in uvalde_top_toks:
#     print(word, freq)

uvalde_top_toksdf = pd.DataFrame(uvalde_top_toks).rename(columns={0:'Uvalde Text',1:'Uvalde Freq'}).sort_values(by=['Uvalde Freq'],ascending=False).reset_index().drop(columns=['index'])
uvalde_top_toksdf[:10]

  Uvalde Text  Uvalde Freq
0      uvalde          984
1      school          460
2    shooting          443
3           ’          301
4        mass          244
5      police          235
6  elementary          180
7        robb          176
8       texas          167
9         gun          164

#### Tweets by Hashtag

In [34]:
#Finde frequency of hashtags
uvalde_hashFD = nltk.FreqDist(uvalde_newhash)
uvalde_top_hash = uvalde_hashFD.most_common()

uvalde_top_hash = pd.DataFrame(uvalde_top_hash).rename(columns={0:'Uvalde Hashtag',1:'Uvalde Freq'}).sort_values(by=['Uvalde Freq'],ascending=False).reset_index().drop(columns=['index'])
uvalde_top_hash[:10]

    Uvalde Hashtag  Uvalde Freq
0           uvalde           82
1        demvoice1           10
2           txlege            5
3          buffalo            4
4     nftcommunity            4
5   endgunviolence            4
6  standwithuvalde            4
7       wearorange            4
8    uvaldecoverup            3
9              nra            3

### Pakland

#### Tweets by Sentiment

In [35]:
#Place text content into a list
park_textlist = list(park_all_tweets_df['Text'])

In [36]:
#Place text into dataframe to check transformation
park_sid_text = pd.DataFrame(park_textlist)

#Clean text by removing hyperlinks, mentions, and hashtags(just the symbol since these words provide additional value)
park_sid_text['check'] = park_sid_text[0].apply(lambda x : re.sub(r'http\S+', '', x))
park_sid_text['check'] = park_sid_text['check'].apply(lambda x : re.sub(r'@\S+', '', x))
park_sid_text['check'] = park_sid_text['check'].apply(lambda x : re.sub(r'#+', '', x))

#view
park_sid_text

,0,check
0,Breaking: Rasmussen post Parkland poll: Most A...,Breaking: Rasmussen post Parkland poll: Most A...
1,#parklandhighschool #parkland shooting Video #...,parklandhighschool parkland shooting Video Par...
2,Read my piece for @communitychange on how rhet...,Read my piece for on how rhetoric seen in mai...
3,"Trump, who cited bone spurs to avoid military ...","Trump, who cited bone spurs to avoid military ..."
4,Opinion: The Parkland shooting victims are the...,Opinion: The Parkland shooting victims are the...
...,...,...
996,Florida GOP lawmakers urge Rick Scott to suspe...,Florida GOP lawmakers urge Rick Scott to suspe...
997,this is why @NRA is freaking out. NOT because ...,this is why is freaking out. NOT because of 1...
998,Twitter Only Verifying Anti-Gun Parkland Shoot...,Twitter Only Verifying Anti-Gun Parkland Shoot...
999,In the days following the recent horrific mass...,In the days following the recent horrific mass...
1000,ASTOUNDING if any other president did this — T...,ASTOUNDING if any other president did this — T...

In [37]:
#Make dataframe to place sentiment scores
park_Textdf = pd.DataFrame(park_sid_text,columns=['check'])

#Use funciton to place each type of sentiment score into its own column
park_Textdf = get_sentiment_scores(park_Textdf,'check')

#Run some descriptive stats on scores
park_statdf = park_Textdf.describe()
park_statdf

,check Positive Sentiment Score,check Negative Sentiment Score,check Neutral Sentiment Score,check Compound Sentiment Score
count,1001.000000,1001.000000,1001.000000,1001.000000
mean,0.076809,0.100843,0.822369,-0.074919
std,0.086889,0.101693,0.119574,0.481336
min,0.000000,0.000000,0.442000,-0.976100
25%,0.000000,0.000000,0.749000,-0.458800
50%,0.058000,0.088000,0.826000,0.000000
75%,0.136000,0.162000,0.902000,0.296000
max,0.432000,0.532000,1.000000,0.970600

#### Tweets by Tokenization

In [38]:
#Create datafram of text again back from source
park_tok_text = pd.DataFrame(park_textlist)

#Clean data by removing hyperlinks and 
#hashtags(only remove # as we are interested in seeing all the popular words including hash values)
#leave @ to see how many times someone is mentioned 
park_tok_text['check'] = park_tok_text[0].apply(lambda x : re.sub(r'http\S+', '', x))
park_tok_text['check'] = park_tok_text['check'].apply(lambda x : re.sub(r'#+', '', x))


#Use special tokenizer to keep special words/phases together (ie. gun control rather than gun and control)
park_sw_tokenizer = nltk.MWETokenizer([('gun','control'),('high','school')])


park_tokcheck =[]

#Apply tokenizer to each line of text
for line in park_tok_text['check']:
    line = ttokenizer.tokenize(line)
    line = park_sw_tokenizer.tokenize((line))
    park_tokcheck.extend(line)



park_cleantok = []

#Remove stopwords
for line in park_tokcheck:
    line = line.lower()
    if not line in nltk_stopwords:
        park_cleantok.append(line)
    else:
        continue

#view 
#park_cleantok

In [39]:
#Find frequency of words in text
park_tokFD = nltk.FreqDist(park_cleantok)
park_top_toks = park_tokFD.most_common()
# for word, freq in uvalde_top_toks:
#     print(word, freq)

park_top_toksdf = pd.DataFrame(park_top_toks).rename(columns={0:'Park Text',1:'Park Freq'}).sort_values(by=['Park Freq'],ascending=False).reset_index().drop(columns=['index'])
park_top_toksdf[:10]

  Park Text  Park Freq
0  parkland       1012
1  shooting        675
2    school        409
3         ’        269
4     trump        224
5   florida        186
6     would        138
7  students        136
8   shooter        120
9       run        109

#### Tweets by Hashtag

In [40]:
#Finde frequency of hashtags
park_hashFD = nltk.FreqDist(park_newhash)
park_top_hash = park_hashFD.most_common()

park_top_hash = pd.DataFrame(park_top_hash).rename(columns={0:'Park Hashtag',1:'Park Freq'}).sort_values(by=['Park Freq'],ascending=False).reset_index().drop(columns=['index'])
park_top_hash[:10]

            Park Hashtag  Park Freq
0               parkland        135
1             neveragain         34
2       parklandshooting          9
3                    nra          8
4                  trump          8
5              msdstrong          7
6           gunreformnow          6
7      banassaultweapons          6
8                   maga          6
9  floridaschoolshooting          5

### Combine

In [41]:
frames = [uvalde_top_hash[:20],park_top_hash[:20]]
hash_compare = pd.concat(frames,axis=1)

hash_compare

     Uvalde Hashtag  Uvalde Freq           Park Hashtag  Park Freq
0            uvalde           82               parkland        135
1         demvoice1           10             neveragain         34
2            txlege            5       parklandshooting          9
3           buffalo            4                    nra          8
4      nftcommunity            4                  trump          8
5    endgunviolence            4              msdstrong          7
6   standwithuvalde            4           gunreformnow          6
7        wearorange            4      banassaultweapons          6
8     uvaldecoverup            3                   maga          6
9               nra            3  floridaschoolshooting          5
10              gop            3                florida          4
11          nftkids            3       mondaymotivation          4
12     freshresists            3          theresistance          4
13      gunviolence            3             boycottnra          4
14     gunreformnow            3                     2a          4
15       freshwords            3          guncontrolnow          4
16       guncontrol            3    tellmeyoulovemetour          4
17         breaking            3              sandyhook          4
18     nftcollector            2      tmylmtoursandiego          3
19         cs4lausd            2        studentsstandup          3

In [42]:

equallist = set(uvalde_top_hash['Uvalde Hashtag']).intersection(park_top_hash['Park Hashtag'])
equallist = list(equallist)
equallist

uvalde_equal = uvalde_top_hash[uvalde_top_hash['Uvalde Hashtag'].isin(equallist)].reset_index().drop(columns= ['index'])
park_equal = park_top_hash[park_top_hash['Park Hashtag'].isin(equallist)].reset_index().drop(columns= ['index'])

equal_frames = [uvalde_equal,park_equal]
equal_hash_compare = pd.concat(equal_frames,axis=1)

equal_hash_compare

        Uvalde Hashtag  Uvalde Freq        Park Hashtag  Park Freq
0       endgunviolence            4            parkland        135
1                  nra            3                 nra          8
2                  gop            3        gunreformnow          6
3          gunviolence            3                  2a          4
4         gunreformnow            3       guncontrolnow          4
5             breaking            3            shooting          3
6            gunreform            2                news          3
7                   2a            2            breaking          3
8             politics            2    marchforourlives          3
9        guncontrolnow            2              coward          2
10     schoolshootings            2      endgunviolence          2
11           gunsafety            2              enough          2
12            parkland            1           gunreform          1
13    marchforourlives            1            voteblue          1
14                news            1             justice          1
15            shooting            1         gunviolence          1
16              coward            1     schoolshootings          1
17            voteblue            1                 gop          1
18  commonsensegunlaws            1            politics          1
19             justice            1  commonsensegunlaws          1
20              enough            1           gunsafety          1

## Export to Excel

In [43]:
#Remove timezones, Excel does not accept datetimes with timezones: .date() removes timezone
uvalde_all_tweets_df['DT'] = uvalde_all_tweets_df['DT'].apply(lambda a: pd.to_datetime(a).date())
park_all_tweets_df['DT'] = park_all_tweets_df['DT'].apply(lambda a: pd.to_datetime(a).date())

#Write all DFs to excel file
with pd.ExcelWriter('output_metrics.xlsx') as writer:

    hash_compare.to_excel(writer, sheet_name= 'Hashtag Comparison')
    equal_hash_compare.to_excel(writer, sheet_name= 'Hashtags in Common')  

    uvalde_statdf.to_excel(writer, sheet_name= 'Uvalde Sentinment Stats')
    park_statdf.to_excel(writer, sheet_name= 'Park Sentiment Stats')

    uvalde_top_mentiondf.to_excel(writer, sheet_name='Uvalde Mentions')
    park_top_mentiondf.to_excel(writer, sheet_name= 'Park Mentions')

    uvalde_sourceCountdf.to_excel(writer, sheet_name= 'Uvalde Sources Count')
    park_sourceCountdf.to_excel(writer, sheet_name= 'Park Sources Count')

    uvalde_sourceSumdf.to_excel(writer, sheet_name= 'Uvalde Source Sums')
    park_sourceSumdf.to_excel(writer, sheet_name= 'Park Source Sums')

    uvalde_sourceAvgdf.to_excel(writer, sheet_name= 'Uvalde Avgs')
    park_sourceAvgdf.to_excel(writer, sheet_name= 'Park Avgs')

    uvalde_top_toksdf.to_excel(writer, sheet_name= 'Uvalde Tokenized Words')
    park_top_toksdf.to_excel(writer, sheet_name= 'Park Tokenized Words')

    uvalde_top_hash.to_excel(writer, sheet_name= 'Uvalde Hashtags')
    park_top_hash.to_excel(writer, sheet_name= 'Park Hashtags')
 
    uvalde_Textdf.to_excel(writer, sheet_name= 'Uvalde Sentiments')
    park_Textdf.to_excel(writer, sheet_name= 'Park Sentiments')

    uvalde_all_tweets_df.to_excel(writer, sheet_name='Uvalde Data')
    park_all_tweets_df.to_excel(writer, sheet_name='Park Data')